html, body {
    background: #66a266;
    margin: 0;
    line-height: 14pt;
    padding: 20px;
  }

header{
    padding: 20px;
}

  main{
    padding: 2%;
    display: flex;
    flex-wrap:wrap;
    align-items: center;
    max-width: 1200px;
}

  time {
    font-family: 'Unbounded', cursive;
    font-weight: 600;
    font-size: 1em;
    line-height: 52px;
    margin: 0;
    display: flex;
    align-items: center;
  }

h1{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 600;
    font-size: 3em;
    color: #FCFAF8;
  }


  p{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    font-size: 1em;
    color: #FCFAF8;
    display: flex;
    align-items: left;
  }

  a{
    font-family: 'Nunito Sans', sans-serif;
    text-decoration: none;
    color:#383838;
}

  footer{
    font-family: 'Nunito Sans', sans-serif;
    display: flex;
    flex-wrap:wrap;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    background-color: #FCFAF8;
    padding: 2% 5%;
    bottom:0;
    width: 90%;
    color: #FCFAF8;
}
