@keyframes moveArrow {
    from { top: 0; }
    to { top: 300px; }
}

html{
    margin:0;
    scroll-behavior: smooth;
}

header{
    display: flex;
    justify-content: space-between;
    width:100%;
}

#scoreboard{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#maininfo{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

body {
    font-family: 'Raleway', sans-serif;
    color: #ffffff;
    padding: 50px;
    line-height: 1.5em;
    background-image: url('images/newbkg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    align-items: center;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 250px;
}


/* info button and overlay */
#infoBtn {
    position: absolute;
    top: 80px;
    right: 60px;
    color: #007AFF;
    background-color: #F4F4F4;
    width: 45px;
    height: auto;
    border: 0px;
    border-radius: 40px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 30px;
}
#infoBtn:hover {
    color: white;
    background-color: #007AFF;
    cursor:pointer;
}

.arrow {
    position: absolute;
    top: 0;
}

#intro {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    transition-property: opacity, visibility;
    transition-duration: 1s;
    transition-timing-function: ease;
    background-color:#7AC2FE;
}

#intro article {
    background-image: url(images/intro.png);
    background-size: cover;
    background-position: center;
    width: 700px;
    height: auto;
    border-radius: 20px;
    padding: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#infoOverlay p {
    font-size: 18px;
    line-height: 30px;
}


#backBtn{
    position: absolute;
    top: 30px;
    right: 30px;
    color: #007AFF;
    background-color: #ffffff;
    width: 35px;
    height: 35px;
    border: 0px;
    border-radius: 40px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 20px;
}
#backBtn:hover {
    color: white;
    background-color: #535353;
    cursor:pointer;
}

.hidden {
    visibility: hidden;
    opacity: 0;
}

.showing {
    visibility: visible;
    opacity: 1;
}


/* code for styling the game control */


/* code for styling main space with game */

#gameplay {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#arrowcontrol {
    display: flex;
    flex-direction: row;
    gap: 5%
}

#blue, #pink{
    display: block;
    align-items: center;
    justify-content: center;
}

#dices {
    display: flex;
    flex-direction: row;
    gap:3%;
}

#dice {
    display: flex;
    flex-direction: row;
}

#dice img {
    display: block;
    margin: 20px;
}

#dice2 {
    display: flex;
    flex-direction: row;
}

#dice2 img {
    display: block;
    margin: 20px;
}

#timer {
    padding-left: 10px;
    font-weight: 700;
    color:#3A467E;
    font-size: 20px;
}

#start{
    display: flex;
    justify-content: center;
}

#startgame {
    align-items: center;
    padding: 15px 25px;
    border: none;
    border-radius: 10px;

    font-size: 400%;
    font-weight: 600;
    color: #F4F4F4;
    background-color:#007AFF;
}
#startgame:hover {
    color: #F4F4F4;
    background-color:#3496ff;
    cursor:pointer;
}


/* styling player 1's side*/

#p1 {
    margin: 20px;
    /* justify-content: center; */
}


#p1 h2 {
    display: flex;
    justify-content: center;
    font-size: 50px;
    font-weight: 200;
}

#p1Score {
    display: flex;
    padding: 10px 20px;
    height: 55px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 600;
    background-color:#007AFF;
}

#score1 {
    display: flex;
    align-items: center;
    font-size:24px;
    font-weight: 700;
    color:#ffffff;

}

#buttons {
    display: flex;
    justify-content: space-around;
    padding: 10px 25px;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 600;
    color: white;
    text-transform: uppercase;
}


/* styling player 2's side */
#p2 {
    margin: 20px;
    /* justify-content: center; */
}


#p2 h2 {
    display: flex;
    justify-content: center;
    font-size: 50px;
    font-weight: 200;
}

#p2Score {
    display: flex;
    padding: 10px 20px;
    height: 55px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 600;
    background-color:#F91880;
}

#score2 {
    display: flex;
    align-items: center;
    font-size:24px;
    font-weight: 700;
    color:#ffffff;

}




/* styling the footer */
footer {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

footer a {
    margin: 30px;

    color: #ffffff;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;

    border-radius: 4px;
}


/* styling the Sources page */
#winLink {
    text-decoration: none;
    color: rgb(44, 44, 45);
    font-family: 'Raleway', sans-serif;
}

.sourcesText {
    font-size: 24px;
    font-weight: 600;
}
